<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table id="emp" style={TableCss} className="table table table-bordered">
     <thead class="thead-dark">
       <tr>
         <th scope="col" colspan="8"><center>Sales</center></th>
       </tr>
     </thead>
     <tbody>

       <tr>
         <th style="border: 1px solid black" scope="row" colspan="4"><center>Current Month</center></th>
         <th style="border: 1px solid black" scope="row" colspan="4"><center>Till Date</center></th>
       </tr>
    <tr>
       <td style="border: 1px solid black" colspan="2"><center>Budget Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Budget Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
     </tr>

           <tr>
       <td style="border: 1px solid black" colspan="2"><center> </center></td>
       <td style="border: 1px solid black" colspan="2"><center> </center></td>
       <td style="border: 1px solid black" colspan="2"><center>5000.0</center></td>
       <td style="border: 1px solid black" colspan="2"><center>84349271400</center></td>
       </tr>
     </tbody>

     <thead className="thead-dark">
       <tr>
         <th style="border: 1px solid black" scope="col" colspan="8"><center>Gross Margin</center></th>
       </tr>
     </thead>
     <tbody>

     <tr>
       <td style="border: 1px solid black" colspan="4"><center> Current Month</center></td>
       <td style="border: 1px solid black" colspan="4"><center>Till Date</center></td>
     </tr>
    <tr>
       <td style="border: 1px solid black"><center>Budget %</center></td>
       <td style="border: 1px solid black"><center>Budget Figures</center></td>
       <td style="border: 1px solid black"><center>Actual %</center></td>
       <td style="border: 1px solid black"><center>Actual Figures</center></td>

       <td style="border: 1px solid black"><center>Budget %</center></td>
       <td style="border: 1px solid black"><center>Budget Figures</center></td>
       <td style="border: 1px solid black"><center>Actual %</center></td>
       <td style="border: 1px solid black"><center>Actual Figures</center></td>
     </tr>

     <tr>
       <td style="border: 1px solid black">  </td>
       <td style="border: 1px solid black"> </td>
       <td style="border: 1px solid black"> </td>
       <td style="border: 1px solid black"> </td>

       <td style="border: 1px solid black"> </td>
       <td style="border: 1px solid black"> </td>
       <td style="border: 1px solid black"><center>100.0</center></td>
       <td style="border: 1px solid black"><center>86152535100 </center></td>
     </tr>
     </tbody>


     <thead className="thead-dark">
       <tr>
         <th style="border: 1px solid black" scope="col" colspan="8"><center>Net Profit</center></th>
       </tr>
     </thead>
     <tbody>

       <tr>
         <th style="border: 1px solid black" scope="row" colspan="4"><center>Current Month</center></th>
         <th style="border: 1px solid black" scope="row" colspan="4"><center>Till Date</center></th>
       </tr>
    <tr>
       <td style="border: 1px solid black" colspan="2"><center>Budget Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Budget Figures</center></td>
       <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
     </tr>

           <tr>
       <td style="border: 1px solid black" colspan="2"><center> </center></td>
       <td style="border: 1px solid black" colspan="2"><center> </center></td>
       <td style="border: 1px solid black" colspan="2"><center>5000.0</center></td>
       <td style="border: 1px solid black" colspan="2"><center>84349271400</center></td>
       </tr>
     </tbody>

     <thead className="thead-dark">
       <tr>
         <th style="border: 1px solid black" scope="col" colspan="8"><center>Sundry Debtors (Accounts Receivable)</center></th>
       </tr>
     </thead>
     <tbody>

       <tr>
         <td style="border: 1px solid black" scope="row" colspan="4"><center>Outstanding</center></td>
         <td style="border: 1px solid black" scope="row" colspan="4"><center>155897978800</center></td>
       </tr>
       <tr>
         <td style="border: 1px solid black" scope="row" colspan="4"><center>Number Of Days</center></td>
         <td style="border: 1px solid black" scope="row" colspan="4"><center>67170</center></td>
       </tr>

     <tr>
       <td style="border: 1px solid black" colspan="4"><center>More Than 3 Months</center></td>
       <td style="border: 1px solid black" colspan="4"> </td>
     </tr>
      <tr>
       <td style="border: 1px solid black" colspan="4"><center>More Than 6 Months</center></td>
       <td style="border: 1px solid black" colspan="4"> </td>
     </tr>

     </tbody>


     <thead className="thead-dark">
       <tr>
         <th style="border: 1px solid black" scope="col" colspan="4"><center>Sundry Debtors (Accounts Receivable)</center></th>
           <th style="border: 1px solid black" scope="col" colspan="4"><center>Inventories</center></th>

       </tr>
     </thead>
     <tbody>

       <tr>
         <td style="border: 1px solid black" scope="row" colspan="2"><center>Outstanding</center></td>
         <td style="border: 1px solid black" scope="row" colspan="2"><center>155897978800</center></td>
         <td  style={TableCss} scope="row" colspan="2"><center>Valuation</center></td>
         <td  style={TableCss} scope="row" colspan="2"><center>77444150000</center></td>
       </tr>
       <tr>
         <td  style={TableCss} scope="row" colspan="2"><center>Number Of Days</center></td>
         <td  style={TableCss} scope="row" colspan="2"><center>67170</center></td>
           <td  style={TableCss} scope="row" colspan="2"><center>Number Of Days</center></td>
         <td  style={TableCss} scope="row" colspan="2"><center></center></td>
       </tr>

     <tr>
       <td style="border: 1px solid black" colspan="2"><center> Than 3 Months</center></td>
       <td style="border: 1px solid black" colspan="2"> </td>
       <td style="border: 1px solid black" colspan="2"><center>In Stock For More Than 90 Days</center></td>
       <td style="border: 1px solid black" colspan="2"> </td>
     </tr>

     </tbody>


     <thead className="thead-dark">
       <tr>
         <th style="border: 1px solid black" scope="col" colspan="8"><center>Sundry Debtors (Accounts Receivable)</center></th>
       </tr>
     </thead>
     <tbody>

 <tr>
   <td style="border: 1px solid black" rowspan="2"  colspan="2"><center style="marginTo:6%">Perticuls</center></td>
   <td style="border: 1px solid black" colspan="3"><center>Current Month</center></td>
   <td style="border: 1px solid black" colspan="3"><center>Till Date</center></td>

 </tr>

 <tr>
   <td style="border: 1px solid black" colspan="1"><center>Budgeted Figures</center></td>
   <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
   <td style="border: 1px solid black" colspan="1"><center>Budgeted Figures</center></td>
   <td style="border: 1px solid black" colspan="2"><center>Actual Figures</center></td>
 </tr>

<tr>
   <td style="border: 1px solid black" colspan="2"><center>Export Expenses(Non-Table)</center></td>
   <td style="border: 1px solid black" colspan="1"></td>
   <td style="border: 1px solid black" colspan="2"></td>
   <td style="border: 1px solid black" colspan="1"><center>50000.0</center></td>
   <td style="border: 1px solid black" colspan="2"><center>985955</center></td>
 </tr>
<tr>
   <td style="border: 1px solid black" colspan="2"><center>Professional Fees</center></td>
   <td style="border: 1px solid black" colspan="1"></td>
   <td style="border: 1px solid black" colspan="2"></td>
   <td style="border: 1px solid black" colspan="1"><center>525222</center></td>
   <td style="border: 1px solid black" colspan="2"><center>522222</center></td>
 </tr>
<tr>
   <td style="border: 1px solid black" colspan="2"><center>Export Expenses</center></td>
   <td style="border: 1px solid black" colspan="1"></td>
   <td style="border: 1px solid black" colspan="2"></td>
   <td style="border: 1px solid black" colspan="1"><center>800004</center></td>
   <td style="border: 1px solid black" colspan="2"><center>800004</center></td>
 </tr>
<tr>
   <td style="border: 1px solid black" colspan="2"><center>Factory Rent</center></td>
   <td style="border: 1px solid black" colspan="1"></td>
   <td style="border: 1px solid black" colspan="2"></td>
   <td style="border: 1px solid black" colspan="1"><center>800004</center></td>
   <td style="border: 1px solid black" colspan="2"><center>890000</center></td>
 </tr>
     </tbody>
   </table>
</body>
</html>