<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome | CFO SERVICES</title>
</head>

<body>
    <div>
        <h4>Hey {{ name }}!,</h4>

        <p>
            Your login credentials for CFO Services,
        </p>

        <p>
            Username: {{ username }} <br>
            Password: {{ password }}
        </p>

        <p>You can login with this credentials <a href="#">here</a>.</p>

        <h4>Thanks and Regrads,</h4>
        <h5>Team CFO SERVICES</h5>

    </div>
</body>

</html>