**/__pycache__
**/.idea
**/venv
**/env


# react
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pyc 
__pycache__

dump.rdb
static_cdn
settings.json
*.zip

