<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script>
window.onload = function () {
//----------------  First Graph ------------------------


var chartMain = new CanvasJS.Chart("chartContainerMain", {
	animationEnabled: true,

	axisY: {
		titleFontColor: "#4F81BC",
		lineColor: "#4F81BC",
		labelFontColor: "#4F81BC",
		tickColor: "#4F81BC"
	},

	toolTip: {
		shared: true
	},
	legend: {
		cursor:"pointer",
		itemclick: toggleDataSeries
	},
			dataPointWidth: 50,

	data: [{
		type: "column",
		name: "Sales (Rs)",
		legendText: "Sales",
		showInLegend: true,
		dataPoints: {{sales_list_canvas|safe}}
	},
]
});
chartMain.render();

function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chartMain.render();
}



//----------------  Second Graph  ------------------------


var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	axisY: {
		titleFontColor: "#4F81BC",
		lineColor: "#4F81BC",
		labelFontColor: "#4F81BC",
		tickColor: "#4F81BC"
	},
	axisY2: {
		titleFontColor: "#C0504E",
		lineColor: "#C0504E",
		labelFontColor: "#C0504E",
		tickColor: "#C0504E"
	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor:"pointer",
		itemclick: toggleDataSeries
	},
	dataPointWidth: 50,
	data: [{
		type: "column",
		name: "Sales (Rs)",
		legendText: "Sales",
		showInLegend: true,
		dataPoints:{{sales_list_canvas|safe}}
	},
	{
		type: "column",
		name: "Receipt (million/day)",
		legendText: "Receipt",
		axisYType: "secondary",
		showInLegend: true,
		dataPoints:{{receipt_list_canvas|safe}}
	}]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}



}
</script>
  </head>
  <body>
    <div class="container" id='container' >
     
<div id="wrapper">

<center>
  <div class="container" style="background-color: #fff;">
    <br>
    <h1>Crucial Numbers</h1>
    <br>

    <table style="border-collapse: collapse; width: 100%;" class="table table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="4" style="padding-top: 12px; padding-bottom: 12px; background-color: #00A0C8; color: white; text-align: center;"><center>Sales</center></th>
              </tr>
            </thead>
            <tbody>
              <tr  style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center>For The Day</center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Monthly Cumulative  </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Yearly Cumulative </center></th>
              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> {{sales_actual_till_date}} </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{sales_actual_monthly}} </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{sales_actual_yearly}} </center> </td>

              </tr>


             </tbody>
      </table>

    <br>

      <table style="border-collapse: collapse; width: 100%;" class="table table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="3" style="padding-top: 12px; padding-bottom: 12px; background-color: #00A0C8; color: white; text-align: center;"><center>Receipts</center></th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Date</center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Customer Name   </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Amount  </center></th>
              </tr>
               {% for item in obj_list %}
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{item.voucher_id__v_date}}  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{item.ledger_name_temp}} </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{item.amt}} </center> </td>

              </tr>
            {% endfor %}




             </tbody>
      </table>


    <br>

      <table  style="border-collapse: collapse; width: 100%;" class="table table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="2" style="padding-top: 12px; padding-bottom: 12px; background-color: #00A0C8; color: white; text-align: center;"><center>Bank Balance</center></th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Name of the Bank </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Amount  </center></th>
              </tr>
              {% for item in obj_ledgers %}
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{item.name}}   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> {{item.closing_balance}} </center> </td>

              </tr>
            {% endfor %}

             </tbody>
      </table>

    <br>
    <br>

<div class="row">
  <div class="col-md-12">
    
    <div style="height:500px;" class="container">
      <hr>
      <br>
      <h3> Sales This Month  </h3>
      <div id="chartContainerMain" style="width: 100%;"></div>
    </div>

  </div>  
  <div class="col-md-12">

<div style="height:500px;" class="container">
      <hr>
      <br>
      <h3> Monthly Sales & Collection  </h3>
      <div id="chartContainer" style="width: 100%; "></div>
    </div>
  </div>  
</div>

    
  <div style="height: 100px;"></div>
    
  
  
  </div>
</center>
</div>





    </div>
    
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

     <script type='text/javascript'>
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
     function screenshot(){
        html2canvas(document.body,{background: '#fff'}).then(function(canvas) {

         // Get base64URL
         var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
         console.log(base64URL);

         // AJAX request
         // $.ajax({
         //    url: 'ajaxfile.php',
         //    type: 'post',
         //    data: {image: base64URL},
         //    success: function(data){
         //       console.log('Upload successfully');
         //    }
         // });


         var formData = new FormData();
formData.append('file_pdf', base64URL);
//console.log(doc);
var xhr = new XMLHttpRequest();
xhr.onload = function (e) {
    if (xhr.readyState === 4 && xhr.status === 200){
        result=xhr.responseText;
        console.log(result);
    }
}
xhr.open('POST', '/sales_report_mail_image', true);
xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
xhr.send(formData);


       });  
     }


     setTimeout(function generate(){ 
      screenshot();
    }, 1500);

     setTimeout(function generate(){
  window.close();
}, 2100);



     </script>

  </body>
</html>