<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="html2canvas.js"></script>
  </head>
  <body>
    <div class="container" id='container' >
     
<div id="wrapper">

<center>
  <div class="container" style="background-color: #fff;">
    <br>
    <h1>Crucial Numbers</h1>
    <br>

    <table style="border-collapse: collapse; width: 100%;" class="table table table-bordered">
            <thead className="thead-dark">
              <tr>
                <th scope="col" colspan="4" style="padding-top: 12px; padding-bottom: 12px; background-color: #343a40; color: white; text-align: center;"><center>Sales</center></th>
              </tr>
            </thead>
            <tbody>
              <tr  style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center>For The Day</center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Monthly Cumulative  </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Yearly Cumulative </center></th>
              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="2"><center> XYZ </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,966 </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 44,25,364 </center> </td>

              </tr>

             </tbody>
      </table>

    <br>

      <table style="border-collapse: collapse; width: 100%;" class="table table table-bordered">
            <thead className="thead-dark">
              <tr>
                <th scope="col" colspan="3" style="padding-top: 12px; padding-bottom: 12px; background-color: #343a40; color: white; text-align: center;"><center>Receipts</center></th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Date</center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Customer Name   </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Amount  </center></th>
              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 20/10/2020  </center></td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Vikas Pandey  </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
             </tbody>
      </table>


    <br>

      <table  style="border-collapse: collapse; width: 100%;" className="table table table-bordered">
            <thead className="thead-dark">
              <tr>
                <th scope="col" colspan="2" style="padding-top: 12px; padding-bottom: 12px; background-color: #343a40; color: white; text-align: center;"><center>Bank Balance</center></th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f2f2f2; text-align: center;">
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;"} scope="row" colspan="1"><center>Name of the Bank </center></th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center>Amount  </center></th>
              </tr>
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Jai Hind Bank   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Jai Hind Bank   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Jai Hind Bank   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Jai Hind Bank   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
              <tr style="background-color: #fff; text-align: center;">
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> Jai Hind Bank   </center> </td>
                  <td style="border: 1px solid #ddd; padding: 8px; text-align: center;" scope="row" colspan="1"><center> 2,45,550 </center> </td>

              </tr>
             </tbody>
      </table>

    <br>
    <br>

<div class="row">
  <div class="col-md-6">
    
    <div class="container">
      <hr>
      <br>
      <h3> Sales This Month  </h3>
      <div id="chartContainerMain" style="width: 100%;"></div>
    </div>

  </div>  
  <div class="col-md-6">

<div class="container">
      <hr>
      <br>
      <h3> Monthly Sales & Collection  </h3>
      <div id="chartContainer" style="width: 100%; "></div>
    </div>
  </div>  
</div>

    
  <div style="height: 500px;"></div>
    
  
  
  </div>
</center>
</div>





    </div>
    
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

     <script type='text/javascript'>
     function screenshot(){
        html2canvas(document.body,{background: '#fff'}).then(function(canvas) {

         document.body.appendChild(canvas);

         // Get base64URL
         var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
         console.log(base64URL);

         // AJAX request
         // $.ajax({
         //    url: 'ajaxfile.php',
         //    type: 'post',
         //    data: {image: base64URL},
         //    success: function(data){
         //       console.log('Upload successfully');
         //    }
         // });
       });  
     }


     setTimeout(function generate(){ 
      screenshot();
    }, 1000);

     setTimeout(function generate(){
  window.close();
}, 1200);



     </script>

  </body>
</html>